@import '../index.sass'

.header 
    +flexCenter()
    h1 
        width: 100%
        margin-left: 100px
        margin-bottom: 20px
        font-size: 100px
        display: flex
        span 
            transform: translate(40vw, -40vh) translateZ(700px) scale(4)
            @keyframes letterAppear 
                0% 
                    opacity: 0
                100% 
                    transform: none
                    opacity: 1
.header.gray 
    background-color: $darkGray
    color: $pink
.header.colored 
    background-color: #f3b05a
    color: $white