* 
    margin: 0
    padding: 0
    box-sizing: border-box

//colors 

$black: #000
$white: #fff

body 
    font-family: 'Ubuntu', sans-serif
    background-color: $black
    color: $white
    overflow: hidden
button 
    border: none 
    background-color: transparent
.mainSection
    width: 100vw 
    height: 100vh 
    opacity: 0
    overflow: hidden
    animation: mainSectionFadeIn 1s linear forwards
    @keyframes mainSectionFadeIn 
        100% 
            opacity: 1
